<div class="dates">
  <!-- Date 1 -->
  <p-calendar
    [(ngModel)]="date1"
    (ngModelChange)="updateRes()"
    [inline]="true"
    [readonlyInput]="true"
    [showTime]="true"
    [showSeconds]="true"
    [ngClass]="'calendar'"
  ></p-calendar>

  <!-- Result -->
  <div class="res fs-1">
    {{ years }}y {{ months }}m {{ days }}d <br />
    {{ hours }}h {{ minutes }}m {{ seconds }}s
  </div>

  <!-- Date 2 -->
  <p-calendar
    [(ngModel)]="date2"
    (ngModelChange)="updateRes()"
    [inline]="true"
    [readonlyInput]="true"
    [showTime]="true"
    [showSeconds]="true"
    [ngClass]="'calendar'"
  ></p-calendar>
</div>
